@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  font-family: 'Open Sans', sans-serif;
  color: #3b434c;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }
  body textarea {
    resize: none; }
  body .btn, body .form-control {
    min-height: 50px;
    border-radius: 10px; }
    body .btn:focus, body .btn:active, body .btn:hover, body .form-control:focus, body .form-control:active, body .form-control:hover {
      outline: none;
      box-shadow: none; }
  body .btn {
    text-transform: uppercase;
    font-size: 16px;
    min-width: 210px; }
  body .form-control::-webkit-input-placeholder {
    font-size: 16px;
    font-family: 'Open Sans Light', sans-serif;
    font-weight: 100; }
  body .form-control:-ms-input-placeholder {
    font-size: 16px;
    font-family: 'Open Sans Light', sans-serif;
    font-weight: 100; }
  body .form-control::-ms-input-placeholder {
    font-size: 16px;
    font-family: 'Open Sans Light', sans-serif;
    font-weight: 100; }
  body .form-control::placeholder {
    font-size: 16px;
    font-family: 'Open Sans Light', sans-serif;
    font-weight: 100; }
    @media screen and (max-width: 360px) {
      body .form-control::-webkit-input-placeholder {
        font-size: 14px; }
      body .form-control:-ms-input-placeholder {
        font-size: 14px; }
      body .form-control::-ms-input-placeholder {
        font-size: 14px; }
      body .form-control::placeholder {
        font-size: 14px; } }
  body .form-control:focus::-webkit-input-placeholder {
    opacity: 0; }
  body .form-control:focus:-ms-input-placeholder {
    opacity: 0; }
  body .form-control:focus::-ms-input-placeholder {
    opacity: 0; }
  body .form-control:focus::placeholder {
    opacity: 0; }
  body .btn-transparent {
    background: transparent;
    color: #fff;
    transition: all 0.3s ease-out;
    min-width: 210px;
    border: 1px solid #65696e; }
    body .btn-transparent:hover {
      border-color: #f7600e;
      background: #f7600e; }
  body .btn-works {
    line-height: 2.15; }
  body .btn-orange {
    background: #f7600e;
    color: #fff; }
  body .btn-white {
    background: #fff;
    color: #f7600e; }

.social-links ul li {
  display: inline-block;
  padding: 0 5px; }
  .social-links ul li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 21px;
    border-radius: 50%;
    color: #fff; }
    .social-links ul li a:hover {
      color: #fff; }
    .social-links ul li a.facebook {
      background: #205b9f; }
    .social-links ul li a.twitter {
      background: #00ace3; }
    .social-links ul li a.google-plus {
      background: #ff3921; }
    .social-links ul li a.dribbble {
      background: #ff72a5; }
    .social-links ul li a.behance {
      background: #009bd5; }

.modal .modal-dialog {
  max-width: 765px;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (max-width: 991px) {
    .modal .modal-dialog {
      max-width: 500px; } }

.modal .modal-content {
  border-radius: 0; }

.modal .btn-close {
  padding: 5px;
  width: 38px;
  height: 38px;
  background-color: #3b434c;
  color: #fff;
  border-radius: 50%;
  margin: -17px -17px 0 0;
  opacity: 1;
  font-size: 14px;
  text-shadow: none; }
  @media screen and (max-width: 575px) {
    .modal .btn-close {
      margin: 10px 10px 0 0; } }
  .modal .btn-close:hover span {
    color: #fff; }

.modal .modal-body h2 {
  font-weight: 600; }
  .modal .modal-body h2 span {
    color: #f7600e; }

.modal .modal-body p {
  font-size: 16px; }

.modal .modal-body textarea {
  height: 230px; }

.close:not(:disabled):not(.disabled):focus,
.close:not(:disabled):not(.disabled):hover {
  opacity: 1; }

header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(59, 67, 76, 0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
  transition: all 0.3s ease-out; }
  header.bg-header {
    background: #3b434c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  header .btn-menu {
    background: none;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #fff;
    cursor: pointer; }
    header .btn-menu span {
      margin-right: 15px; }
      @media screen and (max-width: 991px) {
        header .btn-menu span {
          display: none; } }
    header .btn-menu i {
      font-size: 20px; }

.menu-wrap.overlay {
  z-index: 1001; }
  .menu-wrap.overlay ul li.line i {
    display: block;
    width: 167px;
    height: 2px;
    background: #f7600e;
    margin-left: auto;
    margin-right: auto; }

main {
  flex-grow: 1; }
  main .head-bg {
    background-image: url(../img/bg-screen.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    main .head-bg .head-wrap {
      height: 100vh;
      flex-grow: 1;
      position: relative;
      padding: 80px 0;
      background: #384049;
      /* Old browsers */
      /* FF3.6-15 */
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(56, 64, 73, 0.9) 0%, rgba(38, 43, 49, 0.9) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(56, 64, 73, 0.9)', endColorstr='rgba(38, 43, 49, 0.9)',GradientType=0 );
      /* IE6-9 */ }
      @media screen and (max-height: 600px) {
        main .head-bg .head-wrap {
          height: auto; } }
      main .head-bg .head-wrap h1 {
        color: #fff;
        font-size: 70px;
        margin: 0;
        font-weight: 900;
        font-family: 'Open Sans Extra-Bold', sans-serif;
        text-transform: uppercase; }
        main .head-bg .head-wrap h1 span {
          color: #f7600e; }
        @media screen and (max-width: 991px) {
          main .head-bg .head-wrap h1 {
            font-size: 60px; } }
        @media screen and (max-width: 767px) {
          main .head-bg .head-wrap h1 {
            font-size: 45px; } }
      main .head-bg .head-wrap p {
        width: 770px;
        margin: 15px auto 0;
        font-size: 25px;
        color: #fff; }
        @media screen and (max-width: 991px) {
          main .head-bg .head-wrap p {
            width: auto; } }
        @media screen and (max-width: 767px) {
          main .head-bg .head-wrap p {
            font-size: 21px; } }
      main .head-bg .head-wrap .head-btn {
        margin-top: 55px; }
        main .head-bg .head-wrap .head-btn .btn-transparent {
          margin: 0 15px; }
          @media screen and (max-width: 514px) {
            main .head-bg .head-wrap .head-btn .btn-transparent:first-child {
              margin-bottom: 30px; } }
      main .head-bg .head-wrap .arrow-wrap {
        position: absolute;
        width: 100%;
        bottom: 30px;
        left: 0; }
        @media screen and (max-height: 600px) {
          main .head-bg .head-wrap .arrow-wrap {
            display: none; } }
        main .head-bg .head-wrap .arrow-wrap .arrow-down {
          text-decoration: none;
          display: inline-block;
          color: #fff;
          font-size: 14px;
          border-radius: 50%;
          border: 2px solid #fff;
          width: 35px;
          height: 35px;
          -webkit-animation-delay: 5s;
                  animation-delay: 5s;
          -webkit-animation: nomAnim infinite linear 2.5s;
                  animation: nomAnim infinite linear 2.5s; }

@-webkit-keyframes nomAnim {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  60% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; }
  70% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px); }
  80% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; }
  90% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes nomAnim {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  60% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; }
  70% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px); }
  80% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; }
  90% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
          main .head-bg .head-wrap .arrow-wrap .arrow-down i {
            line-height: 2.3; }
  main .services-wrap {
    padding: 100px 0; }
    main .services-wrap .service-item {
      max-width: 200px; }
    main .services-wrap .service-icon {
      width: 150px;
      height: 150px;
      border: 1px solid #c4c6c9;
      border-radius: 50%;
      margin-left: auto;
      margin-right: auto; }
    main .services-wrap h4 {
      font-size: 16px;
      font-weight: 600; }
    main .services-wrap p {
      height: 65px;
      -webkit-line-clamp: 3;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0; }
  main .subscribe-bg {
    background-image: url(../img/bg-subscribe.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    main .subscribe-bg .subscribe-wrap {
      padding: 100px 0;
      background: #384049;
      /* Old browsers */
      /* FF3.6-15 */
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(56, 64, 73, 0.9) 0%, rgba(38, 43, 49, 0.9) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(56, 64, 73, 0.9)', endColorstr='rgba(38, 43, 49, 0.9)',GradientType=0 );
      /* IE6-9 */ }
    main .subscribe-bg .form-email {
      border: none;
      font-size: 16px;
      font-family: 'Open Sans Light', sans-serif;
      font-weight: 100;
      /*&:focus {
                &::placeholder {
                    opacity: 0;
                }
            }

            @media screen and (max-width:360px) {
                &::placeholder {
                    font-size: 14px;
                }
            }*/ }
    main .subscribe-bg .btn-subscribe {
      min-width: 270px; }
      @media screen and (max-width: 991px) {
        main .subscribe-bg .btn-subscribe {
          min-width: 150px; } }
  main .works-wrap {
    padding: 100px 0; }
    main .works-wrap h2 {
      font-weight: 600; }
      main .works-wrap h2 span {
        color: #f7600e; }
    main .works-wrap p {
      font-size: 16px; }
    main .works-wrap .work-item {
      position: relative;
      max-width: 360px;
      height: 360px;
      border-radius: 10px;
      overflow: hidden;
      cursor: pointer; }
      @media screen and (max-width: 991px) {
        main .works-wrap .work-item {
          height: 250px; } }
      main .works-wrap .work-item:hover .info-work {
        top: 0; }
      main .works-wrap .work-item img {
        ﻿object-fit: cover; }
      main .works-wrap .work-item .info-work {
        position: absolute;
        top: -361px;
        right: 0;
        left: 0;
        height: 360px;
        background: rgba(247, 96, 14, 0.9);
        transition: all 0.3s ease-out; }
        @media screen and (max-width: 991px) {
          main .works-wrap .work-item .info-work {
            height: 250px;
            top: -251px; } }
        main .works-wrap .work-item .info-work h4 {
          color: #fff;
          font-size: 24px; }
          @media screen and (max-width: 991px) {
            main .works-wrap .work-item .info-work h4 {
              font-size: 18px; } }
        main .works-wrap .work-item .info-work p {
          height: 50px;
          -webkit-line-clamp: 2;
          display: -webkit-box;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #fff; }
          @media screen and (max-width: 991px) {
            main .works-wrap .work-item .info-work p {
              font-size: 14px;
              height: 45px; } }
        main .works-wrap .work-item .info-work .btn-white {
          line-height: 2.15; }
          @media screen and (max-width: 991px) {
            main .works-wrap .work-item .info-work .btn-white {
              min-width: auto; } }
    main .works-wrap .btn-more {
      border: 1px solid #d8d9db;
      transition: all 0.3s ease-out;
      line-height: 2.15; }
      main .works-wrap .btn-more:hover {
        background: #f7600e;
        color: #fff;
        border-color: #f7600e; }
  main .reviews-bg {
    background-image: url(../img/bg-review.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden; }
    main .reviews-bg .reviews-wrap {
      padding: 100px 0;
      background: #384049;
      /* Old browsers */
      /* FF3.6-15 */
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(56, 64, 73, 0.9) 0%, rgba(38, 43, 49, 0.9) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(56, 64, 73, 0.9)', endColorstr='rgba(38, 43, 49, 0.9)',GradientType=0 );
      /* IE6-9 */ }
      main .reviews-bg .reviews-wrap .review-item {
        max-width: 800px;
        margin: 0 auto; }
        @media screen and (max-width: 991px) {
          main .reviews-bg .reviews-wrap .review-item {
            width: auto;
            padding: 0 30px; } }
        main .reviews-bg .reviews-wrap .review-item .avatar {
          width: 120px;
          height: 120px;
          border-radius: 50%;
          overflow: hidden; }
        main .reviews-bg .reviews-wrap .review-item p {
          font-style: italic;
          font-size: 24px;
          color: #fff;
          font-family: 'Open Sans Semi-Bold', sans-serif;
          height: 70px;
          -webkit-line-clamp: 2;
          display: -webkit-box;
          overflow: hidden;
          text-overflow: ellipsis; }
          @media screen and (max-width: 991px) {
            main .reviews-bg .reviews-wrap .review-item p {
              font-size: 21px;
              height: 60px; } }
          @media screen and (max-width: 575px) {
            main .reviews-bg .reviews-wrap .review-item p {
              font-size: 16px;
              height: 47px; } }
        main .reviews-bg .reviews-wrap .review-item span {
          font-size: 18px;
          font-weight: 600;
          color: #fff; }
          @media screen and (max-width: 991px) {
            main .reviews-bg .reviews-wrap .review-item span {
              font-size: 16px; } }
          @media screen and (max-width: 575px) {
            main .reviews-bg .reviews-wrap .review-item span {
              font-size: 14px; } }
      main .reviews-bg .reviews-wrap .carousel-control-prev {
        left: -120px; }
        @media screen and (max-width: 991px) {
          main .reviews-bg .reviews-wrap .carousel-control-prev {
            left: -60px; } }
        @media screen and (max-width: 600px) {
          main .reviews-bg .reviews-wrap .carousel-control-prev {
            left: 0;
            justify-content: flex-start; } }
      main .reviews-bg .reviews-wrap .carousel-control-next {
        right: -120px; }
        @media screen and (max-width: 991px) {
          main .reviews-bg .reviews-wrap .carousel-control-next {
            right: -60px; } }
        @media screen and (max-width: 600px) {
          main .reviews-bg .reviews-wrap .carousel-control-next {
            right: 0;
            justify-content: flex-end; } }
  main .team-wrap {
    padding: 100px 0; }
    main .team-wrap h2 {
      font-weight: 600; }
      main .team-wrap h2 span {
        color: #f7600e; }
    main .team-wrap p {
      font-size: 16px; }
    main .team-wrap .slick-dots li.slick-active button:before {
      font-size: 12px;
      color: #f7600e; }
    main .team-wrap .slide-wrap {
      margin: auto auto;
      cursor: pointer;
      text-align: center;
      transition: all 0.3s ease-out; }
      main .team-wrap .slide-wrap.post-thumbnail {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
        -webkit-filter: gray;
                filter: gray; }
      main .team-wrap .slide-wrap:hover.post-thumbnail {
        -webkit-filter: none;
        -moz-filter: none;
        -ms-filter: none;
        -o-filter: none;
        filter: none;
        filter: none;
        /* IE 6-9 */ }
      main .team-wrap .slide-wrap:hover .photo {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0; }
        main .team-wrap .slide-wrap:hover .photo:after {
          right: 0; }
      main .team-wrap .slide-wrap .photo {
        position: relative;
        width: 235px;
        height: 280px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        overflow: hidden;
        -o-object-fit: cover;
           object-fit: cover;
        transition: all 0.3s ease-out; }
        main .team-wrap .slide-wrap .photo:after {
          position: absolute;
          content: "";
          display: block;
          height: 5px;
          left: 0;
          bottom: 0;
          right: 100%;
          z-index: 100;
          background: #f7600e;
          transition: all 0.3s ease-out; }
      main .team-wrap .slide-wrap .slide-info {
        width: 235px;
        margin-left: auto;
        margin-right: auto; }
      main .team-wrap .slide-wrap h4 {
        font-size: 24px;
        text-transform: uppercase; }
      main .team-wrap .slide-wrap .social-links ul {
        margin: 0;
        padding: 0; }
        main .team-wrap .slide-wrap .social-links ul li {
          display: inline-block;
          padding: 0 5px; }
          main .team-wrap .slide-wrap .social-links ul li a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;
            font-size: 14px;
            border-radius: 50%;
            color: #fff; }
            main .team-wrap .slide-wrap .social-links ul li a.facebook {
              background: #205b9f; }
            main .team-wrap .slide-wrap .social-links ul li a.twitter {
              background: #00ace3; }
            main .team-wrap .slide-wrap .social-links ul li a.google-plus {
              background: #ff3921; }
      main .team-wrap .slide-wrap padding {
        font-size: 14px; }
  main .hire-form-bg {
    background-image: url(../img/bg-hire.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    main .hire-form-bg .hire-form-wrap {
      padding: 100px 0;
      background: #384049;
      /* Old browsers */
      /* FF3.6-15 */
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(56, 64, 73, 0.9) 0%, rgba(38, 43, 49, 0.9) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(56, 64, 73, 0.9)', endColorstr='rgba(38, 43, 49, 0.9)',GradientType=0 );
      /* IE6-9 */ }
      main .hire-form-bg .hire-form-wrap h2 {
        font-weight: 600;
        color: #fff; }
        main .hire-form-bg .hire-form-wrap h2 span {
          color: #f7600e; }
      main .hire-form-bg .hire-form-wrap p {
        font-size: 16px;
        color: #fff; }
      main .hire-form-bg .hire-form-wrap form {
        max-width: 825px;
        margin: 0 auto; }
        main .hire-form-bg .hire-form-wrap form .form-control {
          border: none; }
        main .hire-form-bg .hire-form-wrap form textarea {
          height: 200px;
          border: none; }
        main .hire-form-bg .hire-form-wrap form ul {
          margin: 0;
          padding: 0; }
          main .hire-form-bg .hire-form-wrap form ul li:first-child {
            padding-left: 0; }
          main .hire-form-bg .hire-form-wrap form ul li:last-child {
            padding-right: 0; }

footer {
  min-height: 105px;
  width: 100%;
  font-size: 16px;
  color: #fff;
  background: #3b434c;
  flex-shrink: 0; }
  footer .designed span {
    color: #d32640; }
