$orange: #f7600e;
$white: #fff;
$dark-blue: #3b434c;
$transition-three: all 0.3s ease-out;

@mixin style-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@mixin style-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
@mixin gradient-bg {
    background: #384049; /* Old browsers */
    background: -moz-linear-gradient(top, rgba(56, 64, 73, 0.9) 0%,rgba(38, 43, 49, 0.9) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(56, 64, 73, 0.9) 0%,rgba(38, 43, 49, 0.9) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(56, 64, 73, 0.9) 0%, rgba(38, 43, 49, 0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(56, 64, 73, 0.9)', endColorstr='rgba(38, 43, 49, 0.9)',GradientType=0 ); /* IE6-9 */
}