﻿@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
    color: $dark-blue;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    textarea {
        resize: none;
    }

    .btn, .form-control {
        min-height: 50px;
        border-radius: 10px;

        &:focus, &:active, &:hover {
            outline: none;
            box-shadow: none;
        }
    }

    .btn {
        text-transform: uppercase;
        font-size: 16px;
        min-width: 210px;
    }

    .form-control {
        &::placeholder {
            font-size: 16px;
            font-family: 'Open Sans Light', sans-serif;
            font-weight: 100;

            @media screen and (max-width:360px) {
                font-size: 14px;
            }
        }

        &:focus {
            &::placeholder {
                opacity: 0;
            }
        }
    }

    .btn-transparent {
        background: transparent;
        color: $white;
        transition: $transition-three;
        min-width: 210px;
        border: 1px solid #65696e;

        &:hover {
            border-color: $orange;
            background: $orange;
        }
    }

    .btn-works {
        line-height: 2.15;
    }

    .btn-orange {
        background: $orange;
        color: $white;
    }

    .btn-white {
        background: $white;
        color: $orange;
    }
}

.social-links {
    ul {
        li {
            display: inline-block;
            padding: 0 5px;

            a {
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                font-size: 21px;
                border-radius: 50%;
                color: $white;

                &:hover {
                    color: $white;
                }

                &.facebook {
                    background: #205b9f;
                }

                &.twitter {
                    background: #00ace3;
                }

                &.google-plus {
                    background: #ff3921;
                }

                &.dribbble {
                    background: #ff72a5;
                }

                &.behance {
                    background: #009bd5;
                }
            }
        }
    }
}

.modal {
    .modal-dialog {
        max-width: 765px;
        margin-left: auto;
        margin-right: auto;

        @media screen and (max-width:991px) {
            max-width: 500px;
        }
    }

    .modal-content {
        border-radius: 0;
    }

    .btn-close {
        padding: 5px;
        width: 38px;
        height: 38px;
        background-color: #3b434c;
        color: #fff;
        border-radius: 50%;
        margin: -17px -17px 0 0;
        opacity: 1;
        font-size: 14px;
        text-shadow: none;

        @media screen and (max-width:575px) {
            margin: 10px 10px 0 0;
        }

        &:hover {
            span {
                color: #fff;
            }
        }
    }

    .modal-body {
        h2 {
            font-weight: 600;

            span {
                color: $orange;
            }
        }

        p {
            font-size: 16px;
        }

        textarea {
            height: 230px;
        }
    }
}

.close:not(:disabled):not(.disabled):focus, 
.close:not(:disabled):not(.disabled):hover {
    opacity: 1;
}