footer {
    min-height: 105px;
    width: 100%;
    font-size: 16px;
    color: $white;
    background: #3b434c;
    flex-shrink: 0;

    .designed {
        span {
            color: #d32640;
        }
    }
}
