header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(59, 67, 76, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    transition: $transition-three;

    &.bg-header {
        background: #3b434c;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }

    .btn-menu {
        background: none;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        font-size: 14px;
        color: $white;
        cursor: pointer;

        span {
            margin-right: 15px;

            @media screen and (max-width:991px) {
                display: none;
            }
        }

        i {
            font-size: 20px;
        }
    }
}
