﻿main {
    flex-grow: 1;

    .head-bg {
        background-image: url(../img/bg-screen.png);
        @include style-bg;

        .head-wrap {
            height: 100vh;
            flex-grow: 1;
            position: relative;
            padding: 80px 0;
            @include gradient-bg;

            @media screen and (max-height:600px) {
                height: auto;
            }

            h1 {
                color: $white;
                font-size: 70px;
                margin: 0;
                font-weight: 900;
                font-family: 'Open Sans Extra-Bold', sans-serif;
                text-transform: uppercase;

                span {
                    color: $orange;
                }

                @media screen and (max-width:991px) {
                    font-size: 60px;
                }

                @media screen and (max-width:767px) {
                    font-size: 45px;
                }
            }

            p {
                width: 770px;
                margin: 15px auto 0;
                font-size: 25px;
                color: $white;

                @media screen and (max-width:991px) {
                    width: auto;
                }

                @media screen and (max-width:767px) {
                    font-size: 21px;
                }
            }

            .head-btn {
                margin-top: 55px;

                .btn-transparent {
                    margin: 0 15px;

                    @media screen and (max-width:514px) {

                        &:first-child {
                            margin-bottom: 30px;
                        }
                    }
                }
            }

            .arrow-wrap {
                position: absolute;
                width: 100%;
                bottom: 30px;
                left: 0;

                @media screen and (max-height:600px) {
                    display: none;
                }

                .arrow-down {
                    text-decoration: none;
                    display: inline-block;
                    color: $white;
                    font-size: 14px;
                    border-radius: 50%;
                    border: 2px solid $white;
                    width: 35px;
                    height: 35px;
                    animation-delay: 5s;
                    animation: nomAnim infinite linear 2.5s;

                    @keyframes nomAnim {
                        from {
                            transform: translateY(0)
                        }

                        50% {
                            transform: translateY(0)
                        }

                        60% {
                            transform: translateY(5px);
                            animation-timing-function: ease-out;
                        }

                        70% {
                            transform: translateY(10px)
                        }

                        80% {
                            transform: translateY(5px);
                            animation-timing-function: ease-out;
                        }

                        90% {
                            transform: translateY(10px)
                        }

                        to {
                            transform: translateY(0)
                        }
                    }

                    i {
                        line-height: 2.3;
                    }
                }
            }
        }
    }

    .services-wrap {
        padding: 100px 0;

        .service-item {
            max-width: 200px;
        }

        .service-icon {
            width: 150px;
            height: 150px;
            border: 1px solid #c4c6c9;
            border-radius: 50%;
            margin-left: auto;
            margin-right: auto;
        }

        h4 {
            font-size: 16px;
            font-weight: 600;
        }

        p {
            height: 65px;
            -webkit-line-clamp: 3;
            @include style-clamp;
            margin: 0;
        }
    }

    .subscribe-bg {
        background-image: url(../img/bg-subscribe.png);
        @include style-bg;

        .subscribe-wrap {
            padding: 100px 0;
            @include gradient-bg;
        }

        .form-email {
            border: none;
            font-size: 16px;
            font-family: 'Open Sans Light', sans-serif;
            font-weight: 100;

            /*&:focus {
                &::placeholder {
                    opacity: 0;
                }
            }

            @media screen and (max-width:360px) {
                &::placeholder {
                    font-size: 14px;
                }
            }*/
        }

        .btn-subscribe {
            min-width: 270px;

            @media screen and (max-width:991px) {
                min-width: 150px;
            }
        }
    }

    .works-wrap {
        padding: 100px 0;

        h2 {
            font-weight: 600;

            span {
                color: $orange;
            }
        }

        p {
            font-size: 16px;
        }

        .work-item {
            position: relative;
            max-width: 360px;
            height: 360px;
            border-radius: 10px;
            overflow: hidden;
            cursor: pointer;

            @media screen and (max-width:991px) {
                height: 250px;
            }

            &:hover {
                .info-work {
                    top: 0;
                }
            }

            img {
                ﻿object-fit: cover;
            }

            .info-work {
                position: absolute;
                top: -361px;
                right: 0;
                left: 0;
                height: 360px;
                background: rgba(247, 96, 14, 0.9);
                transition: $transition-three;

                @media screen and (max-width:991px) {
                    height: 250px;
                    top: -251px;
                }

                h4 {
                    color: $white;
                    font-size: 24px;

                    @media screen and (max-width:991px) {
                        font-size: 18px;
                    }
                }

                p {
                    height: 50px;
                    -webkit-line-clamp: 2;
                    @include style-clamp;
                    color: $white;

                    @media screen and (max-width:991px) {
                        font-size: 14px;
                        height: 45px;
                    }
                }

                .btn-white {
                    line-height: 2.15;

                    @media screen and (max-width:991px) {
                        min-width: auto;
                    }
                }
            }
        }

        .btn-more {
            border: 1px solid #d8d9db;
            transition: $transition-three;
            line-height: 2.15;

            &:hover {
                background: $orange;
                color: $white;
                border-color: $orange;
            }
        }
    }

    .reviews-bg {
        background-image: url(../img/bg-review.png);
        @include style-bg;
        overflow-x: hidden;

        .reviews-wrap {
            padding: 100px 0;
            @include gradient-bg;

            .review-item {
                max-width: 800px;
                margin: 0 auto;

                @media screen and (max-width:991px) {
                    width: auto;
                    padding: 0 30px;
                }

                .avatar {
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                    overflow: hidden;
                }

                p {
                    font-style: italic;
                    font-size: 24px;
                    color: $white;
                    font-family: 'Open Sans Semi-Bold', sans-serif;
                    height: 70px;
                    -webkit-line-clamp: 2;
                    @include style-clamp;

                    @media screen and (max-width:991px) {
                        font-size: 21px;
                        height: 60px;
                    }

                    @media screen and (max-width:575px) {
                        font-size: 16px;
                        height: 47px;
                    }
                }

                span {
                    font-size: 18px;
                    font-weight: 600;
                    color: $white;

                    @media screen and (max-width:991px) {
                        font-size: 16px;
                    }

                    @media screen and (max-width:575px) {
                        font-size: 14px;
                    }
                }
            }

            .carousel-control-prev {
                left: -120px;

                @media screen and (max-width:991px) {
                    left: -60px;
                }

                @media screen and (max-width:600px) {
                    left: 0;
                    justify-content: flex-start;
                }
            }

            .carousel-control-next {
                right: -120px;

                @media screen and (max-width:991px) {
                    right: -60px;
                }

                @media screen and (max-width:600px) {
                    right: 0;
                    justify-content: flex-end;
                }
            }
        }
    }

    .team-wrap {
        padding: 100px 0;

        h2 {
            font-weight: 600;

            span {
                color: $orange;
            }
        }

        p {
            font-size: 16px;
        }

        .slick-dots li.slick-active button:before {
            font-size: 12px;
            color: $orange;
        }

        .slide-wrap {
            margin: auto auto;
            cursor: pointer;
            text-align: center;
            transition: $transition-three;

            &.post-thumbnail {
                -webkit-filter: grayscale(100%);
                -moz-filter: grayscale(100%);
                -ms-filter: grayscale(100%);
                -o-filter: grayscale(100%);
                filter: grayscale(100%);
                filter: gray;
            }

            &:hover {
                &.post-thumbnail {
                    -webkit-filter: none;
                    -moz-filter: none;
                    -ms-filter: none;
                    -o-filter: none;
                    filter: none;
                    filter: none; /* IE 6-9 */
                }

                .photo {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;

                    &:after {
                        right: 0;
                    }
                }
            }

            .photo {
                position: relative;
                width: 235px;
                height: 280px;
                margin-left: auto;
                margin-right: auto;
                border-radius: 10px;
                overflow: hidden;
                object-fit: cover;
                transition: $transition-three;

                &:after {
                    position: absolute;
                    content: "";
                    display: block;
                    height: 5px;
                    left: 0;
                    bottom: 0;
                    right: 100%;
                    z-index: 100;
                    background: $orange;
                    transition: $transition-three;
                }
            }

            .slide-info {
                width: 235px;
                margin-left: auto;
                margin-right: auto;
            }

            h4 {
                font-size: 24px;
                text-transform: uppercase;
            }

            .social-links {
                ul {
                    margin: 0;
                    padding: 0;

                    li {
                        display: inline-block;
                        padding: 0 5px;

                        a {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 24px;
                            height: 24px;
                            font-size: 14px;
                            border-radius: 50%;
                            color: $white;

                            &.facebook {
                                background: #205b9f;
                            }

                            &.twitter {
                                background: #00ace3;
                            }

                            &.google-plus {
                                background: #ff3921;
                            }
                        }
                    }
                }
            }

            padding {
                font-size: 14px;
            }
        }
    }

    .hire-form-bg {
        background-image: url(../img/bg-hire.png);
        @include style-bg;

        .hire-form-wrap {
            padding: 100px 0;
            @include gradient-bg;

            h2 {
                font-weight: 600;
                color: $white;

                span {
                    color: $orange;
                }
            }

            p {
                font-size: 16px;
                color: $white;
            }

            form {
                max-width: 825px;
                margin: 0 auto;

                .form-control {
                    border: none;
                }

                textarea {
                    height: 200px;
                    border: none;
                }

                ul {
                    margin: 0;
                    padding: 0;

                    li {

                        &:first-child {
                            padding-left: 0;
                        }

                        &:last-child {
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }
}
