.menu-wrap {
    &.overlay {
        z-index: 1001;

        ul {
            li {
                &.line {
                    i {
                        display: block;
                        width: 167px;
                        height: 2px;
                        background: $orange;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
        }
    }
}
